.breadcrumb {
    background: none;
    color: $brand-white;
    padding-left: 0;
    a {
        color: $brand-white;
        text-decoration: none;
        &:hover {
            color: rgba(255,255,255,.8);
        }
    }
}

.breadcrumb-item {
    color: $brand-white;
    font-size: 14px;
    &.active {
        color: $brand-white;
    }

    &+.breadcrumb-item {
        &:before {
            color: $brand-white;
        }
    }
}