.home-slider {
	position: relative;

	h1 {
		font-size: 26px;
		line-height: 1.2;
		@include media-breakpoint-up(lg) {
			font-size: 38px;
		}
	}

	p {
		font-size: 14px;
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
	}

	.slide {
		align-items: center;
		background-size: cover;
		background-position: top center;
		color: $brand-white;
		display: flex;
		min-height: 400px;

		&:focus {
			outline: none;
		}

		@include media-breakpoint-up(lg) {
			min-height: 600px;
		}
	}

	.slick-dots {
		// extend container to constrain slick dots
		@extend .container;
		bottom: 30px;
		left: 50%;
		position: absolute;
		text-align: left;
		transform: translateX(-50%);

		li {
			margin: 0;
			button {
				&:before {
					font-size: 11px;
					-webkit-text-fill-color: transparent;
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: $brand-white;
					opacity: 1;
				}
				&:hover {
					&:before {
						color: $brand-white;
						-webkit-text-fill-color: $brand-white;
					}
				}
			}

			&.slick-active {
				button {
					&:before {
						color: $brand-white;
						-webkit-text-fill-color: $brand-white;
					}
				}
			}
		}
	}
}

// Override Slick theme.css
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
