.sidebar-nav {

	.sub-menu {
		@extend .list-unstyled;
		margin-bottom: 10px;

		li {
			border-bottom: 1px dashed $brand-light-gray2;
			a {
				display: block;
				font-weight: 700;
				padding: 10px 0;
			}
			&.current_page_item,
			&.current-page-parent  {
				a {
					color: $brand-light-purple;
					&:hover {
						color: darken($brand-light-purple, 10%);
					}
				}
			}

			li {
				border-bottom: none;
				padding-left: 10px;
				a {
					border-bottom: none;
					color: $brand-dark-gray!important;
					font-style: italic;
					font-weight: 500;
					padding: 7px 0;
				}
			}
		}
		
	}
}